    <a href="/" class="btn btn-outline-light btn-sm">Home</a>
    <a href="/import" class="btn btn-outline-light btn-sm">Import</a>
    <a href="/books" class="btn btn-outline-light btn-sm">Books</a>
    <a href="/authors" class="btn btn-outline-light btn-sm">Authors</a>
    <a href="/genres" class="btn btn-outline-light btn-sm">Genres</a>
    <a href="/series" class="btn btn-outline-light btn-sm">Series</a>
    <a href="/debug" class="btn btn-outline-light btn-sm">Debug</a>
    <form action="/search" method="GET" class="topbar-search">
      <input type="text" name="q" placeholder="Search..." />
    </form>
