<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/header.twig" %}
  <title>FB2 Collection</title>
</head>
<body>

<div class="page-header">
  <h1>FB2 <span>Collection</span></h1>
  <div class="nav-panel d-flex gap-2 p-2">
    {% include "partials/menu.twig" %}
  </div>
</div>

  <div class="terminal-wrap">
    <div class="terminal-header">
      <div class="dot dot-r"></div>
      <div class="dot dot-y"></div>
      <div class="dot dot-g"></div>
      <span class="terminal-title">Books {{ title }}</span>
    </div>

    <div id="logBox">
      <span style="color:#2a3a2a">
        {% if page %}
            {% include "partials/pagination.twig" %}
        {% endif %}
        {{ content|raw }} 
      </span>
    </div>
  </div>

  {% include "partials/footer.twig" %}
</body>
</html>